@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
}

.d-none {
  display: none;
}

.layout {
  transition-duration: 1s;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: blur();
  background-color: darkolivegreen;

  .header {
    font-size: 3rem;
    text-align: center;
    color: #ed4700;
    text-shadow: 1px 1px 1px #000;
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .button {
      cursor: pointer;
      width: 10rem;
      height: 10rem;
      margin: 0.5rem;
      border: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 1rem;

      .icon{
        width: 5rem;
        height: 5rem;
      }
    }

    .rain {
      background-image: url('../rainy-bg.jpg');
    }

    .summer {
      background-image: url('../summer-bg.jpg');
    }

    .winter {
      background-image: url('../winter-bg.jpg');
    }

  }

  .volume {
    width: 10rem;
    margin: 2rem auto;
    cursor: pointer;
  }
}

.rain::before,
.summer::before,
.winter::before {
  transition-duration: 1s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

.rain::before {
  background-image: url('../rainy-bg.jpg');
}

.summer::before {
  background-image: url('../summer-bg.jpg');
}

.winter::before {
  background-image: url('../winter-bg.jpg');
}

